extends layout
block content
    h2 Utilizadores
    table
      tr
        th Nome
        th Acção
      each val, index in ['zero', 'one', 'two']
        tr
          td Diogo
          td 
            a(href="") Eliminar
    a(class='button' href='novoRegisto') Novo Registo
