extends layout
block content
    h2 Utilizadores
    table
      tr
        th Nome
        th Acção
      tr
        td Diogo
        td
          a(href="") Eliminar
      tr
        td Pedro
        td
          a(href="") Eliminar
      tr
        td Vitor
        td
          a(href="") Eliminar
      tr
        td Diogo
        td
          a(href="")  Eliminar
      tr
        td Pedro
        td
          a(href="") Eliminar
      tr
        td Vitor
        td
          a(href="") Eliminar
      tr
        td Diogo
        td
          a(href="")  Eliminar
      tr
        td Pedro
        td
          a(href="") Eliminar
      tr
        td Vitor
        td
          a(href="") Eliminar
    a(class='button' href='novoRegisto') Novo Registo
