extends layout
block content
    h2 Utilizadores
    table
      tr
        th Nome
        th Acção
      each funcionario in funcionarios
        tr
          td  
          td 
            a(href="/editarFuncionario?id=" + funcionario.idFuncionario) Editar
            a(href="/deleteFuncionario?id=" + funcionario.idFuncionario) Eliminar
            
    a(class='button' href='novoRegisto') Novo Registo
