extends layout
block content
    h2 Editar Funcionario
    form(method="POST" action="/admin/editarFuncionario?id="+id)
      label
        | Nome do Funcionario
        input(type="text" id="nome" name="nome")
      label
        | Departamento
        select(name="departamento" id="departamento")
          each departamento in departamentos
            option(value=departamento.idDepartamento) #{departamento.nomeDepartamento}
      label
        | Tipo
        select(name="tipo" id="tipo")
          each tipo in tipos
            option(value=tipo.idTipoFuncionario) #{tipo.descricao}
      label
        | Palavra-Passe
        input(type="password" name="password" id="password")
      label
        | Confirmar Palavra-Passe
        input(type="password" name="password2" id="password2")
      button(name="Guardar" id="guardar" value="Guardar") Guardar
    a(class='button' href='/admin') Voltar
    script
      include ../utils/scripts/validatorEditFunci.js