extends layout
block content
    h2 Editar Funcionario
    form(method="POST" action="/editarFuncionario?id="+id)
      label
        | Nome do Funcionario
        input(type="text" name="nome")
      label
        | Departamento
        select(name="departamento")
          each departamento in departamentos
            option(value=departamento.idDepartamento) #{departamento.nomeDepartamento}
      label
        | Tipo
        select(name="tipo")
          each tipo in tipos
            option(value=tipo.idTipoFuncionario) #{tipo.descricao}
      label
        | Palavra-Passe
        input(type="password" name="password")
      label
        | Confirmar Palavra-Passe
        input(type="password" name="password2")
      button(name="Guardar" value="Guardar") Guardar
    a(class='button' href='/admin') Voltar