extends layout
block content
    h2 Zona de Exames
    table
        tr
            th Paciente
        each paciente in pacientes
            tr
                td 
                    a(href="/perfilPaciente?NUS=" + paciente.NUS) #{paciente.NUS} - #{paciente.nome} 