extends layout
block content
    form(method="POST" action="/users/login")
        label
            | Utilizador
            input(type="text" name="numFunc")
        label
            | Palavra-Passe
            input(type="password" name="password")
        button(name="login" value="login") Login