extends layout
block content
    form(method="POST")
    label
        | Utilizador
        input(type="text")
    label
        | Palavra-Passe
        input(type="password")
    button(name="login" value="login") Login