extends layout
block content
    h2 Número pacientes atendidos #{nmrpaciente}
    table
        tr
            th NUS
            th Paciente
            th Data Entrada
            th Data Saida
            th Estado
            tr
    a(href="/gestao/pesquisaDepartamento") Voltar