extends layout
block content
    h2 Novo Utilizador
    form(method="POST" action="/novoRegisto")
      label
        | Numero de Funcionario
        input(type="text" name="num")
      label
        | Nome do Funcionario
        input(type="text" name="nome")
      label
        | Departamento
        select(name="departamento")
          each departamento in departamentos
            option(value=departamento.idDepartamento)  #{departamento.nomeDepartamento}
      label
        | Tipo
        select(name="tipo")
          each tipo in tipos
            option(value=tipo.idTipoFuncionario) #{tipo.descricao}
      label
        | Palavra-Passe
        input(type="password" name="password")
      label
        | Confirmar Palavra-Passe
        input(type="password" name="password2")
      button(name="Registar" value="Registar") Registar
    a(class='button' href='admin') Voltar
