extends layout
block content
    h2 Novo Paciente
    form(method="POST" action="/receccao/novoPaciente")
      label
        | Nº Utente de Saúde 
        input(id="nus" type="text" name="nus" maxlength="9")
      label
        | Nome
        input(type="text" name="nome" maxlength="45")
      label
        | Data Nascimento
        input(type="date" name="dataNascimento")
      label
        | Género
        select(name="tipo")
          option(value="1") Masculino
          option(value="2") Feminino
      label
        | Rua
        input(type="text" name="rua")
      label
        | Concelho
        input(type="text" name="concelho")
      label
        | Distrito
      label
        input(type="text" name="distrito")
      label
        | Pais
        input(type="text" name="pais")
      button(name="Registar" value="Registar") Registar Paciente
    button(onClick = "location.href='/receccao'") Voltar
