extends layout
block content
    h2 Novo Utilizador
    form(method="POST")
      label
        | Numero de Funcionario
        input(type="text" name="num")
      label
        | Nome do Funcionario
        input(type="text" name="nome")
      label
        | Departamento
        select(name="departamento")
          option(value="1") Triagem
          option(value="2") Consultas
          option(value="3") Exames
      label
        | Tipo
        select(name="tipo")
          option(value="1") Medico
          option(value="2") Administrado
          option(value="3") Funcionario
      label
        | Palavra-Passe
        input(type="password" name="password")
      label
        | Confirmar Palavra-Passe
        input(type="password" name="password2")
      button(name="Registar" value="Registar") Registar
