extends layout
block content
    h2 Novo Utilizador
    form(method="POST" action="/admin/novoFuncionario")
      label
        | Numero de Funcionario
        input(type="text" id="num" name="num")
      label
        | Nome do Funcionario
        input(type="text" id="nome" name="nome")
      label
        | Departamento
        select(name="departamento" id="departamento")
          each departamento in departamentos
            option(value=departamento.idDepartamento)  #{departamento.nomeDepartamento}
      label
        | Tipo
        select(name="tipo" id="tipo")
          each tipo in tipos
            option(value=tipo.idTipoFuncionario) #{tipo.descricao}
      label
        | Palavra-Passe
        input(type="password" id="password" name="password")
      label
        | Confirmar Palavra-Passe
        input(type="password" id="password2" name="password2")
      button(name="Registar" id="Registar" value="Registar") Registar
    script
      include ../utils/scripts/validatorNovoFunci.js
    a(class='button' href='/admin') Voltar
