extends layout
block content
    h2 Zona de Consultas
    table
        tr
            th NUS
            th Paciente
        each paciente in pacientes
            tr
                td #{paciente.NUS} 
                td
                    a(href="/consultas/perfilPaciente/" + paciente.NUS)  #{paciente.nome}