extends layout
block content
    h2 Zona de Exames
    table
        tr
            th NUS
            th Paciente
        each paciente in pacientes
            tr
                td #{paciente.NUS} 
                td
                    a(href="/exames/perfilPaciente/" + paciente.NUS)  #{paciente.nome}
    a(class='button' href='/logout') Logout