extends layout
block content
    h2 Zona de Triagem  
    table
        tr
            th NUS
            th Paciente
        each paciente in pacientes
            tr
                td #{paciente.NUS} 
                td
                    a(href="/triagem/perfilPaciente/" + paciente.NUS)  #{paciente.nome}