extends layout
block content
    h2 Zona de Consultas
    table
        tr
            th NUS
            th Prioridade
            th Data Entrada
            th Paciente
        each paciente in pacientes
            tr
                td #{paciente.NUS} 
                td #{paciente.prioridade}
                td #{paciente.dataEntrada}
                td
                    a(href="/consultas/perfilPaciente/" + paciente.NUS)  #{paciente.nome}
    a(class='button' href='/consultas/pacientesAtendidos') Pacientes Atendidos
    a(class='button' href='/logout') Logout