extends layout
block content
    h2 Pesquisar por Nome Departamento
    form(method="POST" action  ="/gestao/mostrarPacientes")   
        | Departamento
        select(name="departamento" id="departamento")
          each departamento in departamentos
            option(name="opcao" value=departamento.idDepartamento)  #{departamento.nomeDepartamento}
        button(id="pesquisar" value="pesquisar") Pesquisar
    a(class="button" href="/gestao") Voltar
    a(href='/logout'") Logout