extends layout
block content
    h2 Pesquisar Paciente
    form(method="POST" action="/receccao/pesquisar")   
        label
            | Numero de Utente
            input(type="text" name="NUS" maxLength="9")
        button(name="Pesquisar" value="Pesquisar") Pesquisar