extends layout
block content
    table
        tr
            th Paciente
        each paciente in pacientes
            tr
                td 
                    a(href="/perfilPaciente?NUS=" + paciente.NUS) #{paciente.nome}